@media only screen and (max-width: 985px){
    .wrapper{
        width: 95%;
    }
    .headert__nav{
        display: none;
    }
    .header__burger-menu{
        display: flex;
    }
    .home__cont_img {
        display: none;
    }
    .home__btn{
        animation: btnScale .5s linear infinite;
        -webkit-animation: btnScale .5s linear infinite;
    }
}
@media only screen and (max-width: 870px){
    .home__cont{
        width: 100%;
        padding: 60px;
    }
    .home__cont_info{
        margin: 60px 0;
    }
    .skills__item{
        flex-direction: column;
        justify-content: center;
    }
    .skills__item_info{
        width: auto;
        text-align: unset;
    }
    .skills__item_line{
        margin: 2px 0;
    }
    .skills__item{
        margin-bottom: 25px;
    }
    .skills__item:last-child{
        margin: 0;
    }
    .educ-exper__cont{
        display: none;
    }
    .educ-exper-mob__cont{
        display: flex;
    }
    .educ-exper-mob__item_arrow{
        position: unset;
    }
    .educ-exper-mob__item_title{
        height: auto;
        flex-direction: column;
    }
    .educ-exper-mob__item_name{
        margin: 0 0 10px 0;
    }

    /* 
    contact 
    */
    .form__input,
    .form__btn{
        padding: 10px;
        font-size: 15px;
    }
    .form__name,
    .form__email{
        width: calc(50% - 15px);
    }
    .form__text {
        padding-bottom: 200px;
    }
    .form__message,
    .form__btn{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 600px){
    section{
        padding: 100px 0;
    }
    .title{
        margin-bottom: 70px;
    }
    .home__title{
        font-size: 55px;
    }
    .home__subtitle{
        font-size: 18px;
        margin: 60px 0;
    }
    .home__cont{
        padding: 40px;
    }
    .home__cont_info{
        height: 90px;
    }
    .home__info_item{
        line-height: 30px;
        font-size: 18px;
    }
    .home__cont_info{
        margin: 40px 0;
    }
    .title__head{
        font-size: 40px;
    }
    .subtitle{
        font-size: 20px;
        margin-top: 25px;
    }
    .educ-exper-mob__item_name{
        font-size: 20px;
    }
    .certific-projects__cont{
        flex-direction: column;
    }
    .certific-projects__item{
        width: 100%;
    }
    .certific-projects__item:nth-child(2n){
        margin-top: 30px;
    }
    .educ-exper__cont_bot{
        text-align: center;
    }

    /* 
    contact 
    */
    .form__name-email{
        flex-wrap: wrap;
    }
    .form__input{
        width: 100%;
    }
    .form__email{
        margin-top: 20px;
    }

    /* 
    portfolio page 
    */
    .projects-page__cont{
        flex-wrap: wrap;
    }
    .projects-page__box{
        width: 100%;
    }
}
@media only screen and (max-width: 450px){
    .home__cont{
        padding: 20px;
    }
    .home__cont_info{
        margin: 20px 0;
        height: 60px;
    }
    .home__info_item{
        line-height: 20px;
        font-size: 14px;
    }
    .home__logo_border{
        width: 60px;
        height: 60px;
        border-right: 4px solid #00D646;
    }
    .home__logo__icon{
        font-size: 35px;
    }
    .btn{
        width: 210px;
        font-size: 20px;
    }
    .footer__inside{
        margin-left: 50px;
        font-size: 16px;
    }
    .title__head{
        font-size: 30px;
        letter-spacing: 3px;
    }
    .subtitle{
        font-size: 16px;
        letter-spacing: 3px;
    }
    .home__subtitle{
        letter-spacing: 3px;
    }
    .form__text{
        padding-bottom: 130px;
    }
}
@media only screen and (max-width: 375px){
    section {
        padding: 70px 0;
    }
}